target/
!.mvn/wrapper/maven-wrapper.jar

### Reports / Logs ###
report/
log/
*.log
*.log.*

### JaCoCo runtime artifacts ###
*.exec
sample-tested-service/jacoco.exec
sample-tested-service/jacocoreport/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### OS files ###
.DS_Store
Thumbs.db
Desktop.ini

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.codex/
